
.container{
    border-radius: 2%;
    margin: 2%;
    h2{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        letter-spacing: 2px;
        animation-name: slide;
        animation: ease-in;
        animation-duration: 2.5s;
        animation-delay: 2ms;
    }
    p{
        width: 45%;
        line-height: 23px;
        font-family: Arial, Helvetica, sans-serif;
    }
    @keyframes slide
    {
    }

}